
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;
    background-color: #2c2c2c;
    color: rgb(236, 100, 100);
    margin: auto;
    width: 750%;
    max-width: 90%;
    padding-left: 50px;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
  }
  
  /* .footer > * {
    flex: 1;
    justify-self: center;
  } */
  
  .footer h4 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  .footerbox .footerlinks a {
    font-size: 1.2rem;
  }
  
  .footerlinks {
    display: flex;
    flex-direction: column;
  }
  
  .footercontact p {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
   
/*medium devices*/
@media screen and (max-width: 1024px){
  .footer{
      grid-template-columns: 1fr;
      gap: 2rem;
  }
}


    /*small devices*/
@media screen and (max-width: 600px){
  
  .footer{
      width: var(--container-width-sm);
      align-self: center;
      justify-content: center;
      display: block;
  }
  .footer h4{
    font-size: 1rem;
  }
  .footerbox .footerlinks a {
    font-size: 0.9rem;
  }
}