section#subscribe {
    background: url(../../chess_blog/components/asset/r3.jpg);
    text-align: center;
    color: rgb(243, 242, 242);
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    height: auto;
    width: 1000px;
    display: flex;
    max-width: 90%;
    margin-bottom: 50px;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;

    }
  
  .subscribe h2 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
    padding-bottom: 1rem;
  }
  
  .form > * {
    width: 100%;
    max-width: 50rem;
    margin: 3rem auto;
  }
  
  .forminput {
    padding: 1rem;
    background: transparent;
    border: 1px solid #777;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    outline: none;
    width: 80%;
    font-size: 1.6rem;
  }
  
  .formbutton {
    padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: 7px 7px 7px 7px 0;
    color: rgb(211, 0, 0);
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .socialicons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socialicon {
    margin: 2rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid rgb(44, 38, 38);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .socialicon:hover {
    background: rgb(76, 76, 120);
  }
  
  
/*medium devices*/
@media screen and (max-width: 1024px){
  .subscribe{
      grid-template-columns: 1fr;
      gap: 2rem;
  }
}


    /*small devices*/
@media screen and (max-width: 500px){
  
  .subscribe{
      width: var(--container-width-sm);
      align-self: center;
  }
  .subscribe h2{
    font-size: 2rem;
  }
    
}